
.video{
  box-shadow: 1px 2px 8px 0px #555 !important
}

.header{
  padding-bottom: 25px;
}

.categ-title{
  font-size: 20px;
}

.center {
  margin: 0 auto !important;
}

label{
  float: left;
  font-weight: 800;
  font-size: 12px;
  padding: 2px 0;
}

.mt25{
  margin-top: 25px;
}

.marbot25 {
  margin-bottom: 25px;
}

.cases{
  border: 1px solid #333;
}

.countries{
  margin-top: 25px;
  padding: 10px;
}

.data{
  color: #bb2121;
  font-size: 20px;
}

.world-wide {
  margin-bottom: 25px;
}