div.content {
  display: flex;
  justify-content: center;
  overflow:scroll;
  margin-top: 25px;
}

.header{
  padding-bottom: 25px;
}

.categ-title{
  font-size: 20px;
}

.cases{
  border: 1px solid black;
}

.countries{
  margin-top: 25px;
  padding: 10px;
}

.data{
  color: red;
  font-size: 20px;
}