body{
  background-color: #fff6f6;
}

body ::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.special-container {
  padding: 25px;
  text-align: center;
}

/* .ui .cards {
  justify-content: center;
} */

a{
  color: #000;
  text-decoration: none;
}